

body {
    background: radial-gradient(circle at top, rgb(79, 81, 87),rgba(27, 28, 33));
    font-family: 'Poppins';
    color: white; 
}



/* MAIN */

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;

    margin-top: 130px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 130px;

}

.left-content{
    display: grid;
    grid-template-rows: 1fr 2fr;
    row-gap: 15px;
}
.left-content-A {
    background-image: repeating-linear-gradient(45deg, rgb(30, 30, 32) 0px, rgb(30, 30, 32) 10px, rgb(25, 25, 29) 10px, rgb(25, 25, 29) 20px); 
    border-radius: 10px;
    box-shadow: 7px 7px 14px rgb(17, 17, 17);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;

    overflow: hidden; /*Oculta la parte de imagen que sobresale*/
}

.left-content-A img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*Conserva relación de aspecto de la imagen y cubre todo el espacio*/

    filter: blur(2px);
}
.left-content-A img:hover {
    filter: blur(0px);
    transition: 0.25s;

}

.pack-info-1 {
    color: rgb(255, 255, 255);
    background-color: rgba(52, 53, 57, 0.704);
    font-weight: 900;   
    font-size: 17px;
    padding: 6px 6px; 
    border-radius: 10px;

    position:absolute;
    top: 4%;
    left: 4%;
}

.pack-info-2 {
    color: rgb(255, 255, 255);
    background-color: rgba(52, 53, 57, 0.704);
    font-weight: 900;   
    font-size: 17px;
    padding: 6px 6px; 
    border-radius: 10px;

    position:absolute;
    bottom:  4%;
    right: 4%;
}

.pack-info-3 {
    color: rgb(255, 255, 255);
    background-color: rgba(52, 53, 57, 0.704);
    font-size: 13px;
    padding: 6px 6px; 
    border-radius: 10px;

    position:absolute;
    top: 21%;
    left: 4%;
}


.left-content-B{
    background-image: repeating-linear-gradient(45deg, rgb(30, 30, 32) 0px, rgb(30, 30, 32) 10px, rgb(25, 25, 29) 10px, rgb(25, 25, 29) 20px); 
    border-radius: 10px;
    box-shadow: 7px 7px 14px rgb(17, 17, 17); 
}

.left-content-B h2{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 900;   
}

.left-content-B p{
    padding: 20px;
    font-size: clamp(0.8rem, 1vw, 1.1rem);
}

.right-content{    
    background-image: repeating-linear-gradient(45deg, rgb(25, 25, 28) 0px, rgb(25, 25, 28) 10px, rgb(20, 20, 23) 10px, rgb(20, 20, 23) 20px); 
    border-radius: 10px;
    box-shadow: 7px 7px 14px rgb(15, 15, 17);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-compra{
    width: max-content;  /*Hace h1 un inline block*/
    margin-bottom: 10px;

    font-size:30px; 
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.316);
    font-weight: 900;
    transition: 0.25s;
}

.titulo-compra:hover {
    text-shadow: 0px 0px 10px white;
    color: white;
    border-color: white;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"]{
    width: 80%;
    height: 30px;
    margin-top: 20px;

    background: radial-gradient(circle at top, rgb(52, 53, 57),rgb(35, 35, 42));
    box-shadow: 3px 3px 6px rgb(17, 17, 17);
    border-color: rgba(241, 234, 234, 0.6);
    border-width: 1px;
    border-radius: 10px;

    color: white;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="date"]:hover {
    transition: 0.2s;
    border: 1px solid white;
}

input[type="text"]:hover::placeholder,
input[type="email"]:hover::placeholder,
input[type="number"]:hover::placeholder,
input[type="date"]:hover::placeholder {
    transition: 0.2s;
    color: white;
}

input[type="text"] :focus,
input[type="email"] :focus,
input[type="number"] :focus,
input[type="date"]:focus{
    transition: 0.2s;
    border: 2px solid white;
}

/*Mirar margen izquierdo*/
.tarjeta{
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#tipo-tarjeta{
    margin-top: 10px;
    min-width: 180px;
}

.right-content select {
    width: 180px;
    height: 30px;
    background-color: rgb(215, 215, 215);
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

.tarjeta label {
    font-size:23px; 
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.316);
    font-weight: 900;
    transition: 0.25s;
}

.tarjeta label:hover {
    text-shadow: 0px 0px 10px white;
    color: white;
    border-color: white;
}

.fecha-cvv{
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fecha-cvv input[type="date"]{
    color: gray;
    border-color: rgba(241, 234, 234, 0.6);
    border-width: 1px;
    border-radius: 10px;
}

.fecha-cvv label {
    font-size:23px; 
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.316);
    font-weight: 900;
    transition: 0.25s;
}

.fecha-cvv label:hover {
    text-shadow: 0px 0px 10px white;
    color: white;
    border-color: white;
}

.cvv{
    width: 60%;
    height: 100%;
    position: relative;
}

.cvv input[type="number"]{
    width: 70%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.comprar-borrar{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.comprar-borrar button{
    width: auto;
    height: 45px;
    margin-top: 30px;
    padding: 10px;

    background-color: rgba(52, 53, 57, 0.704);
    border: solid;
    border-color: rgba(241, 234, 234, 0.6);
    border-width: 1px;
    border-radius: 10px;
    text-decoration: none;

    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s;
}

.comprar-borrar button:hover {
    text-shadow: 0px 0px 10px white;
    color: white;
    border-color: white;
}



/*VERSIÓN RESPONSIVE*/



@media only screen and (max-width: 768px) {
    main {
    grid-template-columns: 1fr;
    }

    .left-content{
        margin-bottom: 20px;
    }

    .left-content-B p{
        font-size: 16px;
    }
    .pack-info-1,
    .pack-info-2{
        font-size: 20px;
    }
    .pack-info-3{
        font-size: 12px;
        top: 23%;
    }

}


@media only screen and (max-width: 600px) {
    main{
        margin-bottom: 260px;
    }
    
    .fecha-cvv{
        flex-direction: column;
    }
    .fecha-cvv input[type="date"]{
        width: 100%;
    }
    .cvv{
        height: 60px;
        width: 100%;
    }
    .cvv input[type="number"]{
        width: 100%;
        left: 0px;
        right: 0px;
    }

}