

body {
    background: radial-gradient(circle at top, rgb(79, 81, 87),rgba(27, 28, 33));
    font-family: 'Poppins';
    color: white;
    height: 1000px;    
}

/* HEADER */

header {
    background: radial-gradient(circle at top, rgb(52, 53, 57),rgb(35, 35, 42)); 
    border-radius: 5px;
    box-shadow: 7px 7px 14px rgb(17, 17, 17);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    align-items: center;

    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;


}

.titulo-web {
    display:flex;
    justify-content: center;
    width: 270px;
    margin-left:20px;

    font-weight: 900;   
    font-size: 21px;
    color: white;
    white-space: nowrap;

    transition: 0.25s;

}

.titulo-web:hover {
    text-shadow: 0px 0px 10px white;
    font-size: 22px;
    color: white;
}

.menu-nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:500px;
}

.menu-nav a{
    text-decoration: none;
    color: rgb(215, 215, 215);
    font-size: 16px;
}

.menu-nav div:hover{
    text-shadow: 0px 0px 10px white;
    text-decoration: underline;
    font-weight: 600;   
    color: white;
    cursor:pointer;
}

.logo-idioma {
    width: 270px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo-idioma img {
    width: 80px;
    border-radius: 40px;
    transition: 0.25s;
}

.logo-idioma img:hover {
    transform: scale(1.2);
}

.logo-idioma select {
    width: 90px;
    height: 30px;
    background-color: rgb(215, 215, 215);
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

.logo-idioma select:focus {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

/* MAIN */

form {
    margin: 130px auto 0 auto;
    max-width: 600px;
    border: 1px solid red;
    background-image: repeating-linear-gradient(45deg, rgb(30, 30, 32) 0px, rgb(30, 30, 32) 10px, rgb(25, 25, 29) 10px, rgb(25, 25, 29) 20px);
    border-radius: 10px;
    box-shadow: 7px 7px 14px rgb(17, 17, 17); 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-reg{
    background-color:  red;
    width: max-content;  /*Hace h1 un inline block*/
    margin-bottom: 0px;
}


form div{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

input[type="text"],
input[type="mail"],
input[type="password"],
input[type="date"]{
    width: 45%;
    height: 30px;
    border: none;
    margin-top: 20px;

    background: radial-gradient(circle at top, rgb(52, 53, 57),rgb(35, 35, 42));
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgb(17, 17, 17);

    color: white;
    border: 1px solid red;
}

.fecha{
    margin-top: 20px;
    padding-left: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fecha input[type="date"]{
    color: gray;
    border: 1px solid red;
}

.fecha input[type= "file"]{
    width: 60%;
    height: 30px;
    
    margin-top: 20px;
    border: 1px solid red;      
}

.privacidad{
    margin-top: 20px;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
}

.privacidad a{
    color: white;
}



/* FOOTER */

footer{
    background: radial-gradient(circle at top, rgb(52, 53, 57),rgb(35, 35, 42)); 
    border-radius: 5px;
    box-shadow: 7px 7px 14px rgb(17, 17, 17);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    align-items: center;

    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;
}

.copy{
    width: 150px;
    color: rgb(215, 215, 215);
    font-size: 16px;
    margin-left:20px;
    transition: 0.25s;
}

.copy:hover {
    text-shadow: 0px 0px 10px white;
    font-size: 17px;
    color: white;
}

.enlaces{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width:500px;
    list-style: none;
    padding: 0;
}
.enlaces a{
    text-decoration: none;
    color: rgb(215, 215, 215);
    font-size: 16px;
}

.enlaces a:hover{
    text-shadow: 0px 0px 10px white;
    text-decoration: underline;
    font-weight: 600;   
    color: white;
    cursor:pointer;
}

.RRSS{
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.RRSS a{
    display: flex;
    align-items: center;
    height: 100%;
    object-fit: contain;
}

.RRSS img{
    height: 50%;
    margin: 0 10px;
    transition: 0.25s;
}

.RRSS img:hover{
    transform: scale(1.2);
}

